html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ececec;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.header_text {
  border-bottom: 4px solid rgba(247, 136, 136, 1);
  display: inline-block;
  font-family: "Brush Script MT", Brussels;
  font-size: 3em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.canvas_scores_container {
  display: flex;
  justify-content: center;
}

.scores {
  background-color: rgba(247, 136, 136, 0.315);
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 40px;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.scores_text {
  font-weight: 500;
  border-bottom: 4px solid rgba(247, 136, 136, 1);
  display: inline-block;
  width: fit-content;
}

canvas {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 320px;
}

.howto_text {
  width: 60%;
  margin: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: rgb(255, 105, 105);
  background: radial-gradient(
    circle,
    rgba(255, 105, 105, 1) 0%,
    rgba(247, 136, 136, 1) 54%,
    rgba(236, 236, 236, 1) 100%
  );
  width: 100%;
}

.footer_item {
  margin-left: 20px;
}
